/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

header {
  background-color: #005f73;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #005f73;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #014f54;
}

main {
  text-align: center;
  flex: 1 0 auto; /* Allows the main content to grow and shrink as needed, pushing the footer down */
  padding-top: 60px; /* Adjust top padding to accommodate the fixed header */
  padding-bottom: 40px; /* Padding at the bottom to not overlap footer content */
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  margin: 20px;
}

.gallery-item {
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.inlarge-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 10;
  outline: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.toy-description {
  color: #333;
  font-size: 14px;
  padding-top: 10px;
}

/* Applies to the About Us page */
.about-us {
  background: linear-gradient(to right, #6abcda, #f4f4f4);
}

/* contact form */
.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  position: relative;
  margin-bottom: 40px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 16px;
  color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

.form-group label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.form-group input:focus ~ label,
.form-group textarea:focus ~ label,
.form-group input:valid ~ label,
.form-group textarea:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #005f73;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #005f73;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.form-group input:focus ~ .bar:before,
.form-group textarea:focus ~ .bar:after {
  width: 50%;
}

.button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #014f54;
}

@media (max-width: 600px) {
  .form-container {
    padding: 30px;
    width: 80%;
  }
}

.animated-element {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.7);
    opacity: 1;
  }
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  clear: both;
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  nav ul li {
    float: none;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header-content {
    justify-content: space-between;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 600px) {
  .about-us {
    background: linear-gradient(
      to bottom,
      #ff9966,
      #ff5e62
    ); /* Vertical gradient for smaller screens */
  }
}
